<a href="https://colab.research.google.com/github/ykkim77/3rd-week/blob/main/python_programming_3rd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수의 사용

**파이썬에서는 자동으로 변수의 타입이 할당된다.**

In [ ]:
a = 10
b = "python"
c = 1.34

print("a: %d  b: %s c:%.2f" %(a,b,c))

a: 10  b: python c:1.34

**위에서 선언한 변수의 type을 알아보자**

In [ ]:
type(a)     # 변수 a의 데이터 타입

str

In [ ]:
type(b)     # 변수 b의 데이터 타입

str

In [ ]:
type(c)     # 변수 c의 데이터 타입

float

**변수 선언의 규칙**

In [ ]:
1apple = 200     #변수의 첫 문자로는 숫자가 올 수 없다.

SyntaxError: ignored

In [ ]:
if = 10      # 파이썬의 키워드를 변수명으로 사용할 수 없다.

SyntaxError: ignored

In [ ]:
Apple = 10    # 변수명의 첫문자로 대문자가 올 수는 있으나, 권장하지는 않는다.
Apple

10

# 파이썬 연산자

In [1]:
a = 10
b = 3

c = a+b                      # 더하기 연산
print("a+b : c =%d "%c)

c = a-b                      # 빼기 연산
print("a-b : c =%d "%c)

c = a*b                      # 곱하기 연산
print("a*b : c =%d "%c)

c = a/b                      # 나누기 연산
print("a/b : c =%f "%c)     

c = a//b                    # 정수 몫
print("a//b : c =%d "%c)

c = a%b                    # 나머지 연산
print("a%%b : c =%d "%c)

c = a**b                      # 누승 연산
print("a**b : c =%d "%c)

a+b : c =13
a-b : c =7
a*b : c =30
a/b : c =3.333333
a//b : c =3
a%b : c =1
a**b : c =1000

**산술 연산자의 적용**

In [ ]:
hamburger = 2000    #햄버거 하나의 가격
nHamburger = 2         #햄버거 구매 개수
cola = 1000    # 콜라 하나의 가격
nCola = 1        # 콜라 구매 개수
discount = 0.1     # 통신사 할인율
total = (cola*nCola+hamburger*nHamburger)*(1-discount)
print("total = %d"%total)

total = 4500

In [1]:
nCola = 2000         #콜라 재고 개수
nEvent = nCola // 3    # 2+1 이벤트 가능한 횟수
print("이벤트 가능한 횟수 : %d "%nEvent)
N_lack_cola = 3-(nCola % 3)    #  2+1 이벤트를 하기 위해 채워야 하는 콜라 개수
print("이벤트를 하기위해 채워야 하는 개수: %d "%N_lack_cola)

이벤트 가능한 횟수 : 666
이벤트를 하기위해 채워야 하는 개수: 1

**관계 연산자**

In [ ]:
age = 10
print("주류 판매가 가능한가요?",20<=age)    # False
age = 20
print("주류 판매가 가능한가요?",20<=age)    # True

주류 판매가 가능한가요? False
주류 판매가 가능한가요? True

**논리 연산자**

In [ ]:
year_of_birth = 77
end_number = year_of_birth % 10 
end_number == 2  or end_number == 7          # True

True

# 복합대입 연산자

편의점에서의 바코드 스캐닝을 통한 누적 금액 계산

In [ ]:
total = 0
cola = 1000
hamburger = 2000
milk = 1500
## 바코드 스캐닝 시작
total += cola
total +=hamburger
total += milk                      # total = total+cola+hamburger+milk

total

4500

# 연산자 우선 순위

햄버거 2개, 콜라 1개 – 10% 할인 적용

In [2]:
hamburger = 2000    #햄버거 하나의 가격
nHamburger = 2         #햄버거 구매 개수
cola = 1000    # 콜라 하나의 가격
nCola = 1        # 콜라 구매 개수
discount = 0.1     # 통신사 할인율
total = (cola*nCola+hamburger*nHamburger)*(1-discount)
print("total = %d"%total)

total = 4500